section {
  display: none;
}

.active {
  display: block;
}

.mainPage {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

header {
  width: 100%;
  height: 150px;
  background-color: lightblue;
  text-align: center;
}

header span {
  font-size: 40px;
  font-family: Oldtown, fantasy;
  vertical-align: top;
    text-align: center;
}


.mainPage-wrapper {
  width: 85%;
  padding: 0;
  margin: 0 auto;
}

.mainPage-row-1 {
  width: 100%;
  height: 300px;
  background-color: lightpink;
}

.mainPage-row-1 img {
  width: 33%;
  height: 300px;
}


.mainPage-row-2 {
  width: 100%;
  height: 300px;
  background-color: lightyellow
}

.mainPage-row-2 img {
  width: 33%;
  height: 300px;
}

.albums {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.header-albums {
  width: 100%;
  height: 150px;
  background-color: lightblue;
  text-align: center;
  display: inline-block;
}

.header-albums ul {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

.header-albums li {
  font-size: 40px;
  font-weight: 200;
  font-family: Oldtown, fantasy;
  display: inline-block;
  padding-right: 50px;
  padding-top: 30px;
}

.albums-wrapper {
  width: 85%;
  padding: 0;
  margin: 0 auto;
}

.albums-row-1 {
  width: 100%;
  height: 300px;
  background-color: lightpink;
}

.albums-row-1 img {
  width: 33%;
  height: 300px;
}

.albums-row-2 {
  width: 100%;
  height: 300px;
  background-color: lightyellow;
}

.albums-row-2 img {
  width: 33%;
  height: 300px;
}

.photo-wrapper {
  width: 85%;
  padding: 0;
  margin: 0 auto;
}

.photo-header {
  width: 100%;
  height: 150px;
  background-color: lightblue;
  text-align: center;
}

.photo-header a{
  text-decoration: none;
}

.return-album {
  font-size: 50px;
  font-family: Oldtown, fantasy;

}

.photo-container img {
  width: 100%;
  height: auto;
}
